form {
	padding: 20px;
	margin: 0 auto;
	max-width: 600px;
}

/* form h1 {
	padding-bottom: 10px;
	margin-bottom: 25px;
	font-family: 'Open Sans';
	font-weight: 100;
	text-align: center;
	color: #FBBF18;
	border-bottom: 1px solid #ccc;
} */
form h1 {
	font-size: 32px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 50px;
}

form h1::before {
	content: '';
	position: absolute;
	display: block;
	width: 160px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 80px);
}
form h1::after {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #FBBF18;
	bottom: 0;
	left: calc(50% - 20px);
}

form .row {
	margin-bottom: 25px;
	position: relative;
	overflow: hidden;
}

form input[type="text"], form input[type="email"], form input[type="password"], form textarea {
	width: 100%;
	height: 40px;
	padding: 10px 10px 10px 140px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	color: #333;
	border-radius: 3px;
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}

form textarea {
	height: auto;
	min-height: 200px;
	padding: 50px 10px 10px 10px;
}

form input[type="text"] + label,form input[type="email"] + label, form input[type="password"] + label, form textarea + label{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	font-weight: bold;
	width: 130px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: white;
	background: #FBBF18;
	border-radius: 3px 0 0 3px;
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
	transform: translateZ(0) translateX(0);
}

form textarea + label {
	width: 100%;
	border-radius: 3px 3px 0 0;
}

form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus {
	padding-left: 10px;
}

form textarea:focus {
	padding-top: 10px;
}

form input[type="text"]:focus + label,form input[type="email"]:focus + label, form input[type="password"]:focus + label {
	transform: translateZ(0) translateX(-100%);
}

form textarea:focus + label {
	transform: translateZ(0) translateY(-100%);
}

form input[type="checkbox"], form input[type="radio"] {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
}

form input[type="radio"] + label {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	background: #ccc;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
	/* margin-left: 130px; */
}

form input[type="radio"] + label:before {
	content: '';
	position: absolute;
	display: block;
	height: 10px;
	width: 10px;
	top: 50%;
	left: 50%;
	background: white;
	border-radius: 100%;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
	transform: translateZ(0) translate(-50%, -50%) scale(0);
}

form input[type="radio"]:checked + label {
	background: #FBBF18;
}

form input[type="radio"]:checked + label:before {
	transform: translateZ(0) translate(-50%, -50%) scale(1);
}

form input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	background: #ccc;
	width: 60px;
	height: 30px;
	border-radius: 100px;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}

form input[type="checkbox"] + label:before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #FBBF18;
	border-radius: 100px;
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
	transform: translateZ(0) scale(0);
}

form input[type="checkbox"] + label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	display: block;
	height: 26px;
	width: 26px;
	background: white;
	border-radius: 100%;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
	transform: translateZ(0) translateX(0);
}

form input[type="checkbox"]:checked + label {
	background: #FBBF18;
}

form input[type="checkbox"]:checked + label:after {
	left: calc(100% - 28px);
	transform: translateZ(0);
}

form button {
	position: relative;
	overflow: hidden;
	height: 40px;
	width: 100%;
	line-height: 40px;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: white;
	border: none;
	background: #FBBF18;
	border-radius: 3px;
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
	transform: translateZ(0) translateX(0);
	z-index: 2;
}

form button:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #01579B;
	height: 100%;
	width: 100%;
	border-radius: 3px;
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
	transform: translateZ(0) scale(0);
	z-index: -1;
}

form button:hover:before, form button:focus:before {
	transform: scale(1);
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
.ml-140 {
	margin-left: 150px;
}
.gend-label{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	font-weight: bold;
	width: 130px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: white;
	background: #FBBF18;
	border-radius: 3px 0 0 3px;
	transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
	transform: translateZ(0) translateX(0);
}