@import url("https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700");
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../fonts/bebas_neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Aileron-Regular";
  src: url("../fonts/aileron/Aileron-Regular.otf");
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #d9d9d9;
  /* text-align: center; */
  background: #191919;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  /* display: table; */
}

#wrapper {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  transform: translate(-50%, -50%);
}

path {
  stroke: #ffffff;
  fill: #ffffff;
  stroke-dasharray: 3000;
  opacity: 10;
  animation: animate 2s cubic-bezier(0, 0.23, 1, 0.1);
}
@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 3000;
  }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 3000;
  }
  90% {
    fill: rgba(255, 255, 255, 0);
  }
  100% {
    opacity: 10;
    fill: rgba(255, 255, 255, 1);
    stroke-dashoffset: 0;
  }
}
#mainAll {
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../image/back.jpg");
  -webkit-background-size: cover;
  opacity: 0.1;
  filter: alpha(opacity=10); /* For WebKit*/
  -moz-background-size: cover; /* Mozilla*/
  -o-background-size: cover; /* Opera*/
  background-size: cover;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%; /* Height of the footer */
}
#footer img {
  width: 20%;
  height: 60%;
  float: right;
}
.qst {
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}
.qst h2 {
  font-family:BebasNeue-Regular;
  color: #fcc017;
}
.answer {
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 15%;
}
.ansPaice {
  padding: 2%;
  text-align: center;
  margin-top: 2%;
  margin: 10px;
  font-family: Aileron-Regular;

  font-size: 200%;
  color: #FFFFFF;
  font-weight: bold;
  box-shadow: 0 0 5px 2px rgba(99, 75, 9, 0.5);
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}
.ansPaice:hover{
  border: 1px solid #fcc017;
}

.col-12 {
  margin-bottom: 2%;
}
a .ansBack{
  text-decoration: none;
  color: #ffffff;
}
.decs {
  background: #2f2f2f;
  justify-content: right;
}
.logo {
  width: 40%;
}
.video {
  width: 80%;
}

.navbar-toggler-icon {
  background-image: url(/image/menu.svg) !important;
}

.nav-item a{
 font-size: 0.8rem;
 font-weight: bold;
}

@media screen and (max-width: 992px) {
  .ansPaice {
    padding: 3%;
    text-align: center;
    margin-top: 2%;
    margin: 10px;

    font-size: 160%;
    font-weight: bolder;
    box-shadow: 0 0 5px 2px rgba(99, 75, 9, 0.5);
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
  }
  .qst {
    margin-top: 8%;
  }
  .answer {
    margin-top: 18%;
  }
  #footer {
    height: 12%;
  }
  .module .container .row {
    margin-top: -10%;
  }
}

@media only screen and (max-width: 768px) {
  .ansPaice {
    padding: 4%;
    text-align: center;
    margin-top: 16%;
    margin: 10px;
    font-size: 150%;
    font-weight: bold;
    box-shadow: 0 0 5px 2px rgba(99, 75, 9, 0.5);
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
  }
  .qst h2{
    font-size: 200%;
  }


  .answer {
    margin-top: 18%;
  }
  #footer {
    height: 10%;
  }
  .video {
    width: 95%;
  }
  .decs-head {
    text-align: center;
  }
  .module .container .row {
    margin-top: -35%;
  }
  .module .container .row {
    margin-top: -25%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .ansPaice {
    padding: 6%;
    text-align: center;
    margin-top: 2%;
    margin: 10px;


    font-size: 135%;
       font-weight: bold;

     transform: rotateX(0deg);
    transition: 0.5s;
  }


  .answer {
    margin-top: 20%;
  }
  #footer {
    height: 8%;
  }
  .module .container .row {
    margin-top: -25%;
  }
}
@media screen and (max-width: 480px) {
  .qst {

    margin-top: 18%;
  }
  .qst h2 {
    font-size: 180%;
  }
  .ansPaice {
    padding: 6%;
    text-align: center;
    margin-top: 2%;
    margin: 10px;


    font-size: 150%;
     font-weight: bold;
     transform: rotateX(0deg);
    transition: 0.5s;
  }

  .answer {
    margin-top: 40%;
  }
  #footer {
    height: 6%;
  }
  .module .container .row {
    margin-top: -35%;
  }
}
@media screen and (max-width: 336px) {
  .qst {
    font-size: 10%;
    margin-top: 20%;
  }
  .qst h2 {
    font-size: 1500%;
  }
  .ansPaice {
    padding: 8%;
    text-align: center;
    margin: 10px;

    font-size: 110%;
    font-weight: bold;
       backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
  }

  .answer {
    margin-top: 50%;
  }

  #footer {
    height: 4%;
  }
  .module .container .row {
    margin-top: -65%;
  }

}
